# flory
FLORY_ADDR=:8080
FLORY_SCHEDULER_BACKEND=memory
FLORY_MYSQL_DSN=aurora:aurora@tcp(127.0.0.1:3306)/aurora?parseTime=true&multiStatements=true
FLORY_TIDB_DSN=root@tcp(127.0.0.1:4000)/aurora?parseTime=true&multiStatements=true
FLORY_EVENT_BACKEND=memory
FLORY_REDIS_ADDR=127.0.0.1:6379
FLORY_REDIS_DB=0
FLORY_REDIS_CHANNEL_PREFIX=aurora

# worker-ts
FLORY_URL=http://127.0.0.1:8080
WORKER_ID=worker-ts-1
WORKER_LOOP_INTERVAL_MS=800

# polaris
POLARIS_ADDR=127.0.0.1:8082
